

input{
    margin:2px;
    width:40px;
    height:60px;
    padding: 10px;   
    border:2px solid 099e92;
    font-size:65px;
    border-radius:15%;
    color:black;
    font-weight: bold;
 }
 input:focus {
     color: black;
     border: 4px solid #099e92; 
     text-transform: uppercase; 
    }
    input.visited {
      color:white !important;
     border: 3px solid #099e92;
     opacity: 0.25;
     background:#099e92;
     text-transform: uppercase; 
}
    h3{
     margin-top: 30px;
      text-align: center;
        font-weight: bold;
 }
 h5{
    margin-top: 30px;
    text-align: center;
 }
 p.headerinfo{
     text-align: center;
     
 }
 hr{
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     height: 2px;
    }
 h4{
     text-align: center;
     color: rgba(255, 166, 0, 0.89);
 }
 h5 .italic{
     font-style: italic;
 }
    .tp-card {
        max-width: 500px;
        margin-top: 40px;
     }
     h5 .email{
        color:rgb(2, 101, 250);
    }
    a.button{
        text-align: center;
 
      }
     .mat-card-content  {
        font-size: 14px;
        margin-left: 75px;
        margin-top: 40px;
        margin-left: 15%;
    }
     .btn-primary {
        box-shadow: 0px 10px 14px -7px #276873;
        background:#099e92;
        border-radius:25px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff !important;
        font-family:Arial;
        font-size:13px;
        padding:5px 5px;
        margin-left: 43%;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .btn-primary:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .btn-primary:active {
        position:relative;
        top:1px;
    }
    .mat-radio-button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        vertical-align: middle;
        margin: 27px!important;
    }
    input , input:active , input:visited{
        margin: 2px;
        width: 15px;
        height: 15px;
        padding: 10px;
        background-color: #099e92;
        border: 2px solid #099e92;
        font-size: 25px;
        border-radius: 15%;
        color: black;
        font-weight: bold;
        display: block;
    }
    .radios{
        margin-left: 60%;
    }
    
            
            