
  <mat-card class = "tp-card">
    <h3>Sorry! That was not authenticated.</h3>
    <h4>Please try again</h4>
    <p class="headerinfo">There could be a few reasons on why this may have occured. See the main reasons for a failed attempt below.
    </p>
    <hr>
    <h4>Please check and re-enter your code or, reach your System Administrator if this problem persists.</h4>

      <mat-card-content>
      <ul>
        <li>Check Your Code is Still Valid And Has Not Timed Out</li>
        <li>All OTP Codes Will Be Exactly 5 Numbers. Be Sure You Are Supplying The Code Exactly.</li>
      </ul>
      </mat-card-content>
      <mat-card-actions>
       <button  routerLink="/ui-screens" class="btn btn-primary" >Return</button>
     </mat-card-actions>
    </mat-card>
    
 